<!DOCTYPE html>
<html>
<head>
  <title>Paystack Payment</title>
  <script src="https://js.paystack.co/v1/inline.js"></script>
</head>
<body>
  <button onclick="payWithPaystack()">Pay Now</button>

  <script>
      
    function payWithPaystack() {
        var email = '<%= email %>'
        var charge = Math.round(parseFloat('<%= charge %>') * 100)
        var phone = '<%= phone %>'
        var fullName = '<%= fullName %>'
        var location = '<%= location %>'
        var state = '<%= state %>'
        var address = '<%= address %>'
        var price = '<%= price %>'
        var make = '<%= make %>'
        var category = '<%= category %>'
        var price = '<%= price %>'
        var mileage = '<%= mileage %>'
        var year = '<%= year %>'
        var vin = '<%= vin %>'
        var color = '<%= color %>'
        var orderType = '<%= orderType %>'
        var year = '<%= year %>'
        var nin = '<%= nin %>'
       
      var handler = PaystackPop.setup({
        key: 'pk_test_d9b526ade8115aa1e2650dd054f892d713070d9d',
        email:email,
        amount: charge, // Amount in kobo (1000 Naira)
        currency: 'NGN',
        callback: function(response) {
          // Handle the response from Paystack callback
          if (response.status === 'success') {
            // Payment successful, send the response to your server for verification
     
      
            const randomNumber = Math.floor(Math.random() * 1000) + 1;

// Generate three random letters
const randomLetters = String.fromCharCode(65 + Math.floor(Math.random() * 26)) + 
                      String.fromCharCode(65 + Math.floor(Math.random() * 26)) +
                      String.fromCharCode(65 + Math.floor(Math.random() * 26));

// Combine the random number and random letters to form the receipt number
const receiptNo = randomLetters + randomNumber.toString();
        const dataToSend = {
          email: email,
          charge:charge,
          phone,fullName,location,state,address,price,make,category,mileage,year,vin,color,orderType,receiptNo,nin,
          paymentResponse: response
        }
            // Send the payment details to your /charge API endpoint
            fetch('/api/charge', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(dataToSend)
            })
          
            .then(response => response.json())
            .then(data => {
              // Handle the response from your /charge API endpoint
              window.location.href = `https://abujacar.com/receipt?id=${email}&nin=${nin}&name=${fullName}&phone=${phone}&location=${location}&state=${state}&address=${address}&price=${price}&make=${make}&category=${category}&mileage=${mileage}&year=${year}&vin=${vin}&color=${color}&orderType=${orderType}&charge=${charge}&receiptNo=${receiptNo}`;
  
            })
            .catch(error => {
              console.error('Error:', error);
            });

          

          } else {
            // Payment failed or was cancelled
            console.log(response);
          }
        },
        onClose: function() {
          // Handle the case when the payment form is closed without completing the payment
          console.log('Payment window closed');
        }
      });
      handler.openIframe();
    }
  </script>
</body>
</html>

